version: '3.9'

services:
  mongo:
    image: mongo:6
    container_name: payroll-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    container_name: payroll-backend
    restart: always
    ports:
      - "4000:4000"
    depends_on:
      - mongo
    environment:
      - PORT=4000
      - MONGO_URI=mongodb://mongo:27017/payrolldb

  frontend:
    build: ./frontend
    container_name: payroll-frontend
    restart: always
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mongo_data:

